<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="serj" translate="label" sortOrder="999999">
            <label>SERJ</label>
        </tab>
        <section id="website_switcher" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
            <label>Website Switcher</label>
            <tab>serj</tab>
            <resource>Serj_WebsiteSwitcher::module</resource>
            <group id="general" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Serj\WebsiteSwitcher\Model\Config\Source\Mode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
